.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-color: rgb(243 244 246);
    z-index: 10;
    opacity: 1;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__left{
            display: flex;
            align-items: center;

            .nav__logo{
                width: 40px;
                
                img{
                    width: 80%;
                }
            }
        }

        .nav__right{
            cursor: pointer;
            border-radius: 40%;
            padding: 0.25rem;

            .notification{
                position: relative;
    
                .notification__icon{
                    font-size: 1.5rem;
                }
    
                .badge {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    padding: 3px 7px;
                    border-radius: 50%;
                    background: red;
                    color: white;
                    font-size: 0.75rem;
                  }
            }
        }.nav__right:hover{
            background-color: rgb(229 231 235);
        }
    }
}